In [1]:
#%load_ext nb_black
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
import pyspark.sql.types as T

In [2]:
spark=SparkSession.builder.getOrCreate()

In [3]:
# Build the SparkSession
spark = SparkSession.builder \
   .master("local") \
   .appName("Linear Regression Model") \
   .config("spark.executor.memory", "1gb") \
   .getOrCreate()
   
sc = spark.sparkContext

In [4]:
sc

In [7]:
rdd = spark.read.csv("crime_data_filtered.csv",inferSchema=True, header=True)

In [8]:
rdd.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- CMPLNT_NUM: integer (nullable = true)
 |-- ADDR_PCT_CD: double (nullable = true)
 |-- BORO_NM: string (nullable = true)
 |-- CMPLNT_FR_DT: string (nullable = true)
 |-- RPT_DT: string (nullable = true)
 |-- CMPLNT_FR_TM: string (nullable = true)
 |-- CRM_ATPT_CPTD_CD: string (nullable = true)
 |-- KY_CD: integer (nullable = true)
 |-- LAW_CAT_CD: string (nullable = true)
 |-- SUSP_AGE_GROUP: string (nullable = true)
 |-- SUSP_RACE: string (nullable = true)
 |-- SUSP_SEX: string (nullable = true)
 |-- VIC_AGE_GROUP: string (nullable = true)
 |-- VIC_RACE: string (nullable = true)
 |-- VIC_SEX: string (nullable = true)
 |-- Latitude: double (nullable = true)
 |-- Longitude: double (nullable = true)

In [9]:
rdd.take(2)

[Row(_c0=0, CMPLNT_NUM=394506329, ADDR_PCT_CD=32.0, BORO_NM='MANHATTAN', CMPLNT_FR_DT='12/31/2019', RPT_DT='2019-12-31', CMPLNT_FR_TM='17:30:00', CRM_ATPT_CPTD_CD='COMPLETED', KY_CD=118, LAW_CAT_CD='FELONY', SUSP_AGE_GROUP=None, SUSP_RACE=None, SUSP_SEX=None, VIC_AGE_GROUP='UNKNOWN', VIC_RACE='UNKNOWN', VIC_SEX='E', Latitude=40.82092679700002, Longitude=-73.94332421899996),
 Row(_c0=1, CMPLNT_NUM=968873685, ADDR_PCT_CD=47.0, BORO_NM='BRONX', CMPLNT_FR_DT='12/29/2019', RPT_DT='2019-12-29', CMPLNT_FR_TM='16:31:00', CRM_ATPT_CPTD_CD='COMPLETED', KY_CD=113, LAW_CAT_CD='FELONY', SUSP_AGE_GROUP=None, SUSP_RACE=None, SUSP_SEX=None, VIC_AGE_GROUP='UNKNOWN', VIC_RACE='UNKNOWN', VIC_SEX='E', Latitude=40.88570140600008, Longitude=-73.86164032499995)]

In [10]:
rdd.show(1)

+---+----------+-----------+---------+------------+----------+------------+----------------+-----+----------+--------------+---------+--------+-------------+--------+-------+-----------------+------------------+
|_c0|CMPLNT_NUM|ADDR_PCT_CD|  BORO_NM|CMPLNT_FR_DT|    RPT_DT|CMPLNT_FR_TM|CRM_ATPT_CPTD_CD|KY_CD|LAW_CAT_CD|SUSP_AGE_GROUP|SUSP_RACE|SUSP_SEX|VIC_AGE_GROUP|VIC_RACE|VIC_SEX|         Latitude|         Longitude|
+---+----------+-----------+---------+------------+----------+------------+----------------+-----+----------+--------------+---------+--------+-------------+--------+-------+-----------------+------------------+
|  0| 394506329|       32.0|MANHATTAN|  12/31/2019|2019-12-31|    17:30:00|       COMPLETED|  118|    FELONY|          null|     null|    null|      UNKNOWN| UNKNOWN|      E|40.82092679700002|-73.94332421899996|
+---+----------+-----------+---------+------------+----------+------------+----------------+-----+----------+--------------+---------+--------+-------------+--------+-------+-----------------+------------------+
only showing top 1 row

In [11]:
rdd.select("vic_age_group","vic_sex").show(5)

+-------------+-------+
|vic_age_group|vic_sex|
+-------------+-------+
|      UNKNOWN|      E|
|      UNKNOWN|      E|
|        25-44|      F|
|      UNKNOWN|      E|
|      UNKNOWN|      M|
+-------------+-------+
only showing top 5 rows

In [27]:
df=rdd

In [28]:
df.columns

['_c0',
 'CMPLNT_NUM',
 'ADDR_PCT_CD',
 'BORO_NM',
 'CMPLNT_FR_DT',
 'RPT_DT',
 'CMPLNT_FR_TM',
 'CRM_ATPT_CPTD_CD',
 'KY_CD',
 'LAW_CAT_CD',
 'SUSP_AGE_GROUP',
 'SUSP_RACE',
 'SUSP_SEX',
 'VIC_AGE_GROUP',
 'VIC_RACE',
 'VIC_SEX',
 'Latitude',
 'Longitude']

In [29]:
df.show()

+---+----------+-----------+---------+------------+----------+------------+----------------+-----+-----------+--------------+--------------+--------+-------------+--------------+-------+------------------+------------------+
|_c0|CMPLNT_NUM|ADDR_PCT_CD|  BORO_NM|CMPLNT_FR_DT|    RPT_DT|CMPLNT_FR_TM|CRM_ATPT_CPTD_CD|KY_CD| LAW_CAT_CD|SUSP_AGE_GROUP|     SUSP_RACE|SUSP_SEX|VIC_AGE_GROUP|      VIC_RACE|VIC_SEX|          Latitude|         Longitude|
+---+----------+-----------+---------+------------+----------+------------+----------------+-----+-----------+--------------+--------------+--------+-------------+--------------+-------+------------------+------------------+
|  0| 394506329|       32.0|MANHATTAN|  12/31/2019|2019-12-31|    17:30:00|       COMPLETED|  118|     FELONY|          null|          null|    null|      UNKNOWN|       UNKNOWN|      E| 40.82092679700002|-73.94332421899996|
|  1| 968873685|       47.0|    BRONX|  12/29/2019|2019-12-29|    16:31:00|       COMPLETED|  113|     FELONY|          null|          null|    null|      UNKNOWN|       UNKNOWN|      E| 40.88570140600008|-73.86164032499995|
|  2| 509837549|      109.0|   QUEENS|  12/15/2019|2019-12-29|    18:45:00|       COMPLETED|  578|  VIOLATION|         25-44|       UNKNOWN|       M|        25-44|WHITE HISPANIC|      F| 40.74228115600005|      -73.81982408|
|  3| 352454313|       47.0|    BRONX|  12/28/2019|2019-12-28|    01:00:00|       COMPLETED|  126|     FELONY|         18-24|         BLACK|       M|      UNKNOWN|       UNKNOWN|      E| 40.87531145100007|-73.84754521099995|
|  5| 293718737|        9.0|MANHATTAN|  12/27/2019|2019-12-27|    22:00:00|       ATTEMPTED|  107|     FELONY|          null|          null|    null|      UNKNOWN|       UNKNOWN|      M| 40.72075882100006|-73.98046642299995|
|  6| 552685226|       79.0| BROOKLYN|  12/27/2019|2019-12-27|    20:10:00|       COMPLETED|  117|     FELONY|          null|          null|    null|      UNKNOWN|       UNKNOWN|      E|40.695958362000056|-73.93763162199998|
|  7| 134037758|      101.0|   QUEENS|  12/26/2019|2019-12-27|    20:00:00|       COMPLETED|  341|MISDEMEANOR|          null|          null|    null|        25-44|WHITE HISPANIC|      F| 40.61157006600007|-73.74736517199995|
|  8| 855385879|       44.0|    BRONX|  12/26/2019|2019-12-26|    19:57:00|       COMPLETED|  361|MISDEMEANOR|         18-24|         BLACK|       F|        18-24|         BLACK|      F| 40.84023413800003|-73.91768411399994|
|  9| 241602326|       20.0|MANHATTAN|  12/25/2019|2019-12-26|    23:00:00|       COMPLETED|  341|MISDEMEANOR|          null|          null|    null|        45-64|         BLACK|      M| 40.77287456000005|-73.98954212299998|
| 10| 585574881|       14.0|MANHATTAN|  12/24/2019|2019-12-24|    16:00:00|       COMPLETED|  109|     FELONY|          null|          null|    null|      UNKNOWN|       UNKNOWN|      D| 40.75043076800005|-73.98928217599996|
| 11| 916172359|       25.0|MANHATTAN|  12/21/2019|2019-12-24|    20:00:00|       COMPLETED|  341|MISDEMEANOR|       UNKNOWN|       UNKNOWN|       U|        25-44|       UNKNOWN|      F| 40.80168405900002|-73.93895929199994|
| 12| 946914583|      108.0|   QUEENS|  12/22/2019|2019-12-22|    04:15:00|       COMPLETED|  113|     FELONY|          null|          null|    null|      UNKNOWN|       UNKNOWN|      E|40.743124599000055|-73.95606807299998|
| 13| 355952564|       46.0|     null|  12/21/2019|2019-12-21|    02:35:00|       COMPLETED|  101|     FELONY|         18-24|BLACK HISPANIC|       M|        18-24|WHITE HISPANIC|      M| 40.85858397000004|-73.90869606999998|
| 14| 249276017|       42.0|    BRONX|  12/20/2019|2019-12-21|    14:00:00|       COMPLETED|  106|     FELONY|       UNKNOWN|       UNKNOWN|       U|          <18|BLACK HISPANIC|      M| 40.82227104100008|-73.91169777999993|
| 15| 636997863|       52.0|    BRONX|  12/20/2019|2019-12-20|    22:18:00|       COMPLETED|  344|MISDEMEANOR|         25-44|         BLACK|       M|        18-24|         BLACK|      F| 40.86322306500005|-73.89041071099996|
| 16| 183266811|       66.0| BROOKLYN|  12/20/2019|2019-12-20|    01:35:00|       COMPLETED|  107|     FELONY|          null|          null|    null|          65+|         WHITE|      F| 40.63254475200006|-73.98195137599998|
| 17| 699043216|       50.0|    BRONX|  12/20/2019|2019-12-20|    00:07:00|       COMPLETED|  341|MISDEMEANOR|          null|          null|    null|        25-44|         WHITE|      F| 40.87465879000007|-73.91108943699999|
| 18| 431547413|        7.0|MANHATTAN|  12/10/2019|2019-12-20|    20:06:00|       COMPLETED|  114|     FELONY|          null|          null|    null|      UNKNOWN|       UNKNOWN|      E| 40.71195209300004|-73.98985467599994|
| 19| 800366831|       43.0|    BRONX|  12/19/2019|2019-12-19|    17:50:00|       COMPLETED|  341|MISDEMEANOR|         45-64|WHITE HISPANIC|       M|      UNKNOWN|       UNKNOWN|      D|40.823499964000064|-73.85861898699994|
| 20| 354566222|       42.0|    BRONX|  12/19/2019|2019-12-19|    02:50:00|       COMPLETED|  104|     FELONY|         18-24|BLACK HISPANIC|       M|          <18|BLACK HISPANIC|      F| 40.82256991600008|-73.91130716899994|
+---+----------+-----------+---------+------------+----------+------------+----------------+-----+-----------+--------------+--------------+--------+-------------+--------------+-------+------------------+------------------+
only showing top 20 rows

In [30]:
df.dtypes

[('_c0', 'int'),
 ('CMPLNT_NUM', 'int'),
 ('ADDR_PCT_CD', 'double'),
 ('BORO_NM', 'string'),
 ('CMPLNT_FR_DT', 'string'),
 ('RPT_DT', 'string'),
 ('CMPLNT_FR_TM', 'string'),
 ('CRM_ATPT_CPTD_CD', 'string'),
 ('KY_CD', 'int'),
 ('LAW_CAT_CD', 'string'),
 ('SUSP_AGE_GROUP', 'string'),
 ('SUSP_RACE', 'string'),
 ('SUSP_SEX', 'string'),
 ('VIC_AGE_GROUP', 'string'),
 ('VIC_RACE', 'string'),
 ('VIC_SEX', 'string'),
 ('Latitude', 'double'),
 ('Longitude', 'double')]

In [31]:
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- CMPLNT_NUM: integer (nullable = true)
 |-- ADDR_PCT_CD: double (nullable = true)
 |-- BORO_NM: string (nullable = true)
 |-- CMPLNT_FR_DT: string (nullable = true)
 |-- RPT_DT: string (nullable = true)
 |-- CMPLNT_FR_TM: string (nullable = true)
 |-- CRM_ATPT_CPTD_CD: string (nullable = true)
 |-- KY_CD: integer (nullable = true)
 |-- LAW_CAT_CD: string (nullable = true)
 |-- SUSP_AGE_GROUP: string (nullable = true)
 |-- SUSP_RACE: string (nullable = true)
 |-- SUSP_SEX: string (nullable = true)
 |-- VIC_AGE_GROUP: string (nullable = true)
 |-- VIC_RACE: string (nullable = true)
 |-- VIC_SEX: string (nullable = true)
 |-- Latitude: double (nullable = true)
 |-- Longitude: double (nullable = true)

In [32]:
df.select('SUSP_AGE_GROUP','SUSP_SEX').show(10)

+--------------+--------+
|SUSP_AGE_GROUP|SUSP_SEX|
+--------------+--------+
|          null|    null|
|          null|    null|
|         25-44|       M|
|         18-24|       M|
|          null|    null|
|          null|    null|
|          null|    null|
|         18-24|       F|
|          null|    null|
|          null|    null|
+--------------+--------+
only showing top 10 rows

In [37]:
df.groupBy("CRM_ATPT_CPTD_CD").count().show()

+----------------+-------+
|CRM_ATPT_CPTD_CD|  count|
+----------------+-------+
|       ATTEMPTED|  38157|
|       COMPLETED|2247575|
+----------------+-------+

In [38]:
df.describe()

DataFrame[summary: string, _c0: string, CMPLNT_NUM: string, ADDR_PCT_CD: string, BORO_NM: string, CMPLNT_FR_DT: string, RPT_DT: string, CMPLNT_FR_TM: string, CRM_ATPT_CPTD_CD: string, KY_CD: string, LAW_CAT_CD: string, SUSP_AGE_GROUP: string, SUSP_RACE: string, SUSP_SEX: string, VIC_AGE_GROUP: string, VIC_RACE: string, VIC_SEX: string, Latitude: string, Longitude: string]

In [39]:
df.describe().show()

+-------+------------------+-------------------+------------------+-------------+------------+----------+------------+----------------+------------------+----------+------------------+--------------------+--------+------------------+--------------------+-------+-------------------+-------------------+
|summary|               _c0|         CMPLNT_NUM|       ADDR_PCT_CD|      BORO_NM|CMPLNT_FR_DT|    RPT_DT|CMPLNT_FR_TM|CRM_ATPT_CPTD_CD|             KY_CD|LAW_CAT_CD|    SUSP_AGE_GROUP|           SUSP_RACE|SUSP_SEX|     VIC_AGE_GROUP|            VIC_RACE|VIC_SEX|           Latitude|          Longitude|
+-------+------------------+-------------------+------------------+-------------+------------+----------+------------+----------------+------------------+----------+------------------+--------------------+--------+------------------+--------------------+-------+-------------------+-------------------+
|  count|           2285732|            2285732|           2285729|      2283987|     2285732|   2285732|     2285732|         2285732|           2285732|   2285732|           1704668|             1704668| 1704668|           2285727|             2285727|2285727|            2285619|            2285619|
|   mean|2743737.0284871543|5.498965215837181E8| 63.00019512374389|         null|        null|      null|        null|            null|303.21846436940115|      null| 788.0652173913044|                null|    null|-84.78658536585365|                null|   null|  40.73648896390924| -73.92474098117047|
| stddev|2563237.4023904814|2.598534919991935E8|34.533677264197216|         null|        null|      null|        null|            null|155.38288229984062|      null|1154.7323335470448|                null|    null| 782.0165121916647|                null|   null|0.08324077676039361|0.07685515138131883|
|    min|                 0|          100000065|               1.0|        BRONX|  01/01/1955|2016-01-02|    00:00:00|       ATTEMPTED|               101|    FELONY|                -1|AMERICAN INDIAN/A...|       F|                -1|AMERICAN INDIAN/A...|      D|       40.498905363|      -74.254938736|
|    max|           7375992|          999998911|             123.0|STATEN ISLAND|  12/31/2020|2020-12-31|    23:59:00|       COMPLETED|               881| VIOLATION|           UNKNOWN|      WHITE HISPANIC|       U|           UNKNOWN|      WHITE HISPANIC|      U|  40.91272339600005| -73.70056786399994|
+-------+------------------+-------------------+------------------+-------------+------------+----------+------------+----------------+------------------+----------+------------------+--------------------+--------+------------------+--------------------+-------+-------------------+-------------------+

In [41]:
df.take(2)

[Row(_c0=0, CMPLNT_NUM=394506329, ADDR_PCT_CD=32.0, BORO_NM='MANHATTAN', CMPLNT_FR_DT='12/31/2019', RPT_DT='2019-12-31', CMPLNT_FR_TM='17:30:00', CRM_ATPT_CPTD_CD='COMPLETED', KY_CD=118, LAW_CAT_CD='FELONY', SUSP_AGE_GROUP=None, SUSP_RACE=None, SUSP_SEX=None, VIC_AGE_GROUP='UNKNOWN', VIC_RACE='UNKNOWN', VIC_SEX='E', Latitude=40.82092679700002, Longitude=-73.94332421899996),
 Row(_c0=1, CMPLNT_NUM=968873685, ADDR_PCT_CD=47.0, BORO_NM='BRONX', CMPLNT_FR_DT='12/29/2019', RPT_DT='2019-12-29', CMPLNT_FR_TM='16:31:00', CRM_ATPT_CPTD_CD='COMPLETED', KY_CD=113, LAW_CAT_CD='FELONY', SUSP_AGE_GROUP=None, SUSP_RACE=None, SUSP_SEX=None, VIC_AGE_GROUP='UNKNOWN', VIC_RACE='UNKNOWN', VIC_SEX='E', Latitude=40.88570140600008, Longitude=-73.86164032499995)]

In [43]:
# Re-order and select columns
df = df.select('CMPLNT_NUM',
 'ADDR_PCT_CD',
 'BORO_NM',
 'CMPLNT_FR_DT',
 'RPT_DT',
 'CMPLNT_FR_TM',
 'CRM_ATPT_CPTD_CD',
 'KY_CD',
 'LAW_CAT_CD',
 'SUSP_AGE_GROUP',
 'SUSP_RACE',
 'SUSP_SEX',
 'VIC_AGE_GROUP',
 'VIC_RACE',
 'VIC_SEX',
 'Latitude',
 'Longitude')

In [44]:
df.columns

['CMPLNT_NUM',
 'ADDR_PCT_CD',
 'BORO_NM',
 'CMPLNT_FR_DT',
 'RPT_DT',
 'CMPLNT_FR_TM',
 'CRM_ATPT_CPTD_CD',
 'KY_CD',
 'LAW_CAT_CD',
 'SUSP_AGE_GROUP',
 'SUSP_RACE',
 'SUSP_SEX',
 'VIC_AGE_GROUP',
 'VIC_RACE',
 'VIC_SEX',
 'Latitude',
 'Longitude']

In [80]:
df1.show(10)

+----------+----------------+
|CMPLNT_NUM|CRM_ATPT_CPTD_CD|
+----------+----------------+
| 394506329|       COMPLETED|
| 968873685|       COMPLETED|
| 509837549|       COMPLETED|
| 352454313|       COMPLETED|
| 293718737|       ATTEMPTED|
| 552685226|       COMPLETED|
| 134037758|       COMPLETED|
| 855385879|       COMPLETED|
| 241602326|       COMPLETED|
| 585574881|       COMPLETED|
+----------+----------------+
only showing top 10 rows

In [82]:
import pandas as pd
df=pd.read_csv("crime_data_filtered.csv")

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2285732 entries, 0 to 2285731
Data columns (total 18 columns):
 #   Column            Dtype
---  ------            -----
 0   Unnamed: 0        int64
 1   CMPLNT_NUM        int64
 2   ADDR_PCT_CD       float64
 3   BORO_NM           object
 4   CMPLNT_FR_DT      object
 5   RPT_DT            object
 6   CMPLNT_FR_TM      object
 7   CRM_ATPT_CPTD_CD  object
 8   KY_CD             int64
 9   LAW_CAT_CD        object
 10  SUSP_AGE_GROUP    object
 11  SUSP_RACE         object
 12  SUSP_SEX          object
 13  VIC_AGE_GROUP     object
 14  VIC_RACE          object
 15  VIC_SEX           object
 16  Latitude          float64
 17  Longitude         float64
dtypes: float64(3), int64(3), object(12)
memory usage: 313.9+ MB

In [96]:

df.loc[df['CRM_ATPT_CPTD_CD'] == 'COMPLETED'] = 1
df.loc[df['CRM_ATPT_CPTD_CD'] == 'ATTEMPTED'] = 0

In [97]:
df=df.astype({'CRM_ATPT_CPTD_CD':int})

In [98]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2285732 entries, 0 to 2285731
Data columns (total 18 columns):
 #   Column            Dtype
---  ------            -----
 0   Unnamed: 0        int64
 1   CMPLNT_NUM        int64
 2   ADDR_PCT_CD       float64
 3   BORO_NM           object
 4   CMPLNT_FR_DT      object
 5   RPT_DT            object
 6   CMPLNT_FR_TM      object
 7   CRM_ATPT_CPTD_CD  int32
 8   KY_CD             int64
 9   LAW_CAT_CD        object
 10  SUSP_AGE_GROUP    object
 11  SUSP_RACE         object
 12  SUSP_SEX          object
 13  VIC_AGE_GROUP     object
 14  VIC_RACE          object
 15  VIC_SEX           object
 16  Latitude          float64
 17  Longitude         float64
dtypes: float64(3), int32(1), int64(3), object(11)
memory usage: 305.2+ MB

In [103]:
X=df.drop(['CRM_ATPT_CPTD_CD','BORO_NM','CMPLNT_FR_DT','RPT_DT','CMPLNT_FR_TM','LAW_CAT_CD','SUSP_AGE_GROUP','SUSP_RACE', 'SUSP_SEX','VIC_AGE_GROUP','VIC_RACE','VIC_SEX'],axis=1)

In [104]:
y=df['CRM_ATPT_CPTD_CD']

In [105]:
from sklearn.model_selection import train_test_split

In [106]:
X_train,X_test,y_train,y_test=train_test_split(X, y, test_size=0.20, random_state=30)

In [107]:
from sklearn.linear_model import LinearRegression

In [108]:
model=LinearRegression()    #initialising my model

In [109]:
model.fit(X_train,y_train)

LinearRegression()

In [110]:
pred = model.predict(X_test)

In [111]:
pred

array([1., 1., 1., ..., 1., 1., 1.])

In [112]:
model.score(X_train,y_train)

1.0

In [113]:
model.score(X_test,y_test)

1.0

In [114]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test,pred)

3.192703484736402e-27