
Setting up the environment and libraries

In [ ]:
!pip install pyspark
!pip install spark

Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.3)
Collecting spark
  Downloading spark-0.2.1.tar.gz (41 kB)
     |████████████████████████████████| 41 kB 48 kB/s
Building wheels for collected packages: spark
  Building wheel for spark (setup.py) ... done
  Created wheel for spark: filename=spark-0.2.1-py3-none-any.whl size=58762 sha256=d33d8852c61e25e3fe88ced94696ce45f918d13746a9ed8e353201953efd9b80
  Stored in directory: /root/.cache/pip/wheels/4e/0e/f1/164619f9920fb447d294afaae11a7715bd442ded7225953d72
Successfully built spark
Installing collected packages: spark
Successfully installed spark-0.2.1

In [ ]:
!pip install pymongo

Requirement already satisfied: pymongo in /usr/local/lib/python3.7/dist-packages (4.1.1)

In [ ]:
!pip install "pymongo[srv]"

Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.7/dist-packages (4.1.1)
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.2.1-py3-none-any.whl (269 kB)
     |████████████████████████████████| 269 kB 4.8 MB/s
Installing collected packages: dnspython
Successfully installed dnspython-2.2.1

Importing data from MongoDB Atlas to a Pandas dataframe for further clean up

In [ ]:
import pymongo
import pandas as pd
from pymongo import MongoClient

In [ ]:
client = MongoClient("mongodb+srv://erick614:AIT614@cluster0.kyshp.mongodb.net/StatenIsland?retryWrites=true&w=majority")
db = client.StatenIsland
collection = db.CrimeData
CrimeData = pd.DataFrame(list(collection.find()))

In [ ]:
CrimeData.head(10)

                        _id VIC_AGE_GROUP        VIC_RACE VIC_SEX ZipCode
0  626364e19b0dc3719021f352         45-64  WHITE HISPANIC       F   10313
1  626364e19b0dc3719021f353         45-64           BLACK       F   10304
2  626364e19b0dc3719021f354         25-44           WHITE       M   10306
3  626364e19b0dc3719021f355         25-44           WHITE       M   10302
4  626364e19b0dc3719021f356         45-64           WHITE       F   10301
5  626364e19b0dc3719021f357         25-44           WHITE       F   10312
6  626364e19b0dc3719021f358         18-24           WHITE       M   10306
7  626364e19b0dc3719021f359         25-44           WHITE       M   10313
8  626364e19b0dc3719021f35a         25-44           WHITE       M   10309
9  626364e19b0dc3719021f35b         45-64           WHITE       F   10301

Additional data pre-precessing to help with frequncy analysis later

In [ ]:
CrimeData['CombinedAttributes']=CrimeData['ZipCode']+', '+CrimeData['VIC_AGE_GROUP']+', '+CrimeData['VIC_RACE']+', '+CrimeData['VIC_SEX']

In [ ]:
CrimeData.head(10)

,_id,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,ZipCode,CombinedAttributes
0,626364e19b0dc3719021f352,45-64,WHITE HISPANIC,F,10313,"10313, 45-64, WHITE HISPANIC, F"
1,626364e19b0dc3719021f353,45-64,BLACK,F,10304,"10304, 45-64, BLACK, F"
2,626364e19b0dc3719021f354,25-44,WHITE,M,10306,"10306, 25-44, WHITE, M"
3,626364e19b0dc3719021f355,25-44,WHITE,M,10302,"10302, 25-44, WHITE, M"
4,626364e19b0dc3719021f356,45-64,WHITE,F,10301,"10301, 45-64, WHITE, F"
5,626364e19b0dc3719021f357,25-44,WHITE,F,10312,"10312, 25-44, WHITE, F"
6,626364e19b0dc3719021f358,18-24,WHITE,M,10306,"10306, 18-24, WHITE, M"
7,626364e19b0dc3719021f359,25-44,WHITE,M,10313,"10313, 25-44, WHITE, M"
8,626364e19b0dc3719021f35a,25-44,WHITE,M,10309,"10309, 25-44, WHITE, M"
9,626364e19b0dc3719021f35b,45-64,WHITE,F,10301,"10301, 45-64, WHITE, F"

In [ ]:
CrimeData['ComboFrequency'] = CrimeData.groupby('CombinedAttributes')['CombinedAttributes'].transform('count')

In [ ]:
CrimeData.head(10)

,_id,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,ZipCode,CombinedAttributes,ComboFrequency
0,626364e19b0dc3719021f352,45-64,WHITE HISPANIC,F,10313,"10313, 45-64, WHITE HISPANIC, F",4
1,626364e19b0dc3719021f353,45-64,BLACK,F,10304,"10304, 45-64, BLACK, F",83
2,626364e19b0dc3719021f354,25-44,WHITE,M,10306,"10306, 25-44, WHITE, M",146
3,626364e19b0dc3719021f355,25-44,WHITE,M,10302,"10302, 25-44, WHITE, M",91
4,626364e19b0dc3719021f356,45-64,WHITE,F,10301,"10301, 45-64, WHITE, F",145
5,626364e19b0dc3719021f357,25-44,WHITE,F,10312,"10312, 25-44, WHITE, F",138
6,626364e19b0dc3719021f358,18-24,WHITE,M,10306,"10306, 18-24, WHITE, M",41
7,626364e19b0dc3719021f359,25-44,WHITE,M,10313,"10313, 25-44, WHITE, M",41
8,626364e19b0dc3719021f35a,25-44,WHITE,M,10309,"10309, 25-44, WHITE, M",93
9,626364e19b0dc3719021f35b,45-64,WHITE,F,10301,"10301, 45-64, WHITE, F",145


Getting the summary statistics for frquency to determine the "High", "Medium", "Low" risk bands. </br>
</br>
Lable of "HIGH" if it is in the 75% - 100% quartile </br>
Label of "MEDIUM" if it is in the 50% - 75% quartile </br>
Lable of "LOW" if it is in the 0% - 50% quartile </br>

In [ ]:
CrimeData.ComboFrequency.describe()

count    15820.000000
mean        98.207459
std         85.830859
min          1.000000
25%         31.000000
50%         83.000000
75%        138.000000
max        422.000000
Name: ComboFrequency, dtype: float64

In [ ]:
CrimeDataSummary = pd.DataFrame(CrimeData.ComboFrequency.describe())

medium_risk_min = CrimeDataSummary['ComboFrequency'].values[5]
high_risk_min = CrimeDataSummary['ComboFrequency'].values[6]

Assign risk scores to existing values based on frequency of occurance

In [ ]:
import numpy as np

conditions = [
    (CrimeData['ComboFrequency'] >= high_risk_min),
    (CrimeData['ComboFrequency'] >= medium_risk_min) & (CrimeData['ComboFrequency'] < high_risk_min),
    (CrimeData['ComboFrequency'] < medium_risk_min)
    ]

# create a list of the values we want to assign for each condition
values = ['High', 'Medium', 'Low']

# create a new column and use np.select to assign values to it using our lists as arguments
CrimeData['RiskLevel'] = np.select(conditions, values)

# display updated DataFrame
CrimeData.head(10)

,_id,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,ZipCode,CombinedAttributes,ComboFrequency,RiskLevel
0,626364e19b0dc3719021f352,45-64,WHITE HISPANIC,F,10313,"10313, 45-64, WHITE HISPANIC, F",4,Low
1,626364e19b0dc3719021f353,45-64,BLACK,F,10304,"10304, 45-64, BLACK, F",83,Medium
2,626364e19b0dc3719021f354,25-44,WHITE,M,10306,"10306, 25-44, WHITE, M",146,High
3,626364e19b0dc3719021f355,25-44,WHITE,M,10302,"10302, 25-44, WHITE, M",91,Medium
4,626364e19b0dc3719021f356,45-64,WHITE,F,10301,"10301, 45-64, WHITE, F",145,High
5,626364e19b0dc3719021f357,25-44,WHITE,F,10312,"10312, 25-44, WHITE, F",138,High
6,626364e19b0dc3719021f358,18-24,WHITE,M,10306,"10306, 18-24, WHITE, M",41,Low
7,626364e19b0dc3719021f359,25-44,WHITE,M,10313,"10313, 25-44, WHITE, M",41,Low
8,626364e19b0dc3719021f35a,25-44,WHITE,M,10309,"10309, 25-44, WHITE, M",93,Medium
9,626364e19b0dc3719021f35b,45-64,WHITE,F,10301,"10301, 45-64, WHITE, F",145,High

Cleaning up the rows that were used for preprocessing that are no longer needed

In [ ]:
del CrimeData["_id"]
del CrimeData["CombinedAttributes"]
del CrimeData["ComboFrequency"]

In [ ]:
CrimeData.head(10)

  VIC_AGE_GROUP        VIC_RACE VIC_SEX ZipCode RiskLevel
0         45-64  WHITE HISPANIC       F   10313       Low
1         45-64           BLACK       F   10304    Medium
2         25-44           WHITE       M   10306      High
3         25-44           WHITE       M   10302    Medium
4         45-64           WHITE       F   10301      High
5         25-44           WHITE       F   10312      High
6         18-24           WHITE       M   10306       Low
7         25-44           WHITE       M   10313       Low
8         25-44           WHITE       M   10309    Medium
9         45-64           WHITE       F   10301      High

Setting up the requirements to run the Spark Ecosystem

In [ ]:
from pyspark.sql import SparkSession

#Create PySpark SparkSession
spark = SparkSession.builder \
    .master("local[1]") \
    .appName("AIT_DL3_Project") \
    .getOrCreate()

In [ ]:
#Create PySpark DataFrame from Pandas
CrimesSparkDF = spark.createDataFrame(CrimeData) 
CrimesSparkDF.printSchema()
CrimesSparkDF.show()

root
 |-- VIC_AGE_GROUP: string (nullable = true)
 |-- VIC_RACE: string (nullable = true)
 |-- VIC_SEX: string (nullable = true)
 |-- ZipCode: string (nullable = true)
 |-- RiskLevel: string (nullable = true)

+-------------+--------------------+-------+-------+---------+
|VIC_AGE_GROUP|            VIC_RACE|VIC_SEX|ZipCode|RiskLevel|
+-------------+--------------------+-------+-------+---------+
|        45-64|      WHITE HISPANIC|      F|  10313|      Low|
|        45-64|               BLACK|      F|  10304|   Medium|
|        25-44|               WHITE|      M|  10306|     High|
|        25-44|               WHITE|      M|  10302|   Medium|
|        45-64|               WHITE|      F|  10301|     High|
|        25-44|               WHITE|      F|  10312|     High|
|        18-24|               WHITE|      M|  10306|      Low|
|        25-44|               WHITE|      M|  10313|      Low|
|        25-44|               WHITE|      M|  10309|   Medium|
|        45-64|               WHITE|      F|  10301|     High|
|        18-24|               BLACK|      F|  10304|      Low|
|        45-64|AMERICAN INDIAN/A...|      F|  10301|      Low|
|        45-64|               WHITE|      M|  10309|   Medium|
|        25-44|      WHITE HISPANIC|      F|  10301|     High|
|          <18|      BLACK HISPANIC|      F|  10306|      Low|
|        45-64|               WHITE|      F|  10310|      Low|
|        25-44|               WHITE|      F|  10306|     High|
|        25-44|               WHITE|      F|  10309|   Medium|
|        45-64|               WHITE|      F|  10301|     High|
|        18-24|      WHITE HISPANIC|      F|  10301|      Low|
+-------------+--------------------+-------+-------+---------+
only showing top 20 rows

In [ ]:
from pyspark.ml import Pipeline
from pyspark.ml.classification import DecisionTreeClassifier
from pyspark.ml.feature import StringIndexer, VectorIndexer
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.mllib.util import MLUtils

In [ ]:
trainDF, testDF = CrimesSparkDF.randomSplit([0.8, 0.2], seed=123)

In [ ]:
from pyspark.ml.feature import StringIndexer
 
categoricalCols = ["ZipCode", "VIC_AGE_GROUP", "VIC_RACE", "VIC_SEX"]
stringIndexer = StringIndexer(inputCols=categoricalCols, outputCols=[x + "Index" for x in categoricalCols])
 
stringIndexerModel = stringIndexer.fit(trainDF)
 
#--2.4.2
labelToIndex = StringIndexer(inputCol="RiskLevel", outputCol="label")
 
#--2.4.3
from pyspark.ml.feature import VectorAssembler
 
#--2.4.4
assemblerInputs = [x + "Index" for x in categoricalCols]
vecAssembler = VectorAssembler(inputCols=assemblerInputs, outputCol="features")

In [ ]:
# Train a DecisionTree model.
RiskDT = DecisionTreeClassifier(labelCol="label", featuresCol="features")

In [ ]:
from pyspark.ml import Pipeline
 
# Define the pipeline based on the stages created in previous steps.
pipeline = Pipeline(stages=[stringIndexer, labelToIndex, vecAssembler, RiskDT])
 
# Define the pipeline model.
pipelineModel = pipeline.fit(trainDF)

In [ ]:
# Apply the pipeline model to the test dataset.
predictDF = pipelineModel.transform(testDF)
 
#Display the pipeline
predictDF.select("prediction", "label", "features").show(25)

+----------+-----+------------------+
|prediction|label|          features|
+----------+-----+------------------+
|       0.0|  0.0| [5.0,2.0,5.0,0.0]|
|       0.0|  0.0| [2.0,2.0,5.0,1.0]|
|       0.0|  0.0| [7.0,2.0,5.0,1.0]|
|       0.0|  0.0| [0.0,2.0,3.0,0.0]|
|       0.0|  0.0| [0.0,2.0,3.0,0.0]|
|       0.0|  0.0| [4.0,2.0,3.0,0.0]|
|       0.0|  0.0| [2.0,2.0,3.0,0.0]|
|       0.0|  0.0| [2.0,2.0,3.0,0.0]|
|       0.0|  0.0| [1.0,2.0,3.0,0.0]|
|       0.0|  0.0| [1.0,2.0,3.0,0.0]|
|       0.0|  0.0| [1.0,2.0,3.0,0.0]|
|       0.0|  0.0| [6.0,2.0,3.0,0.0]|
|       0.0|  0.0| [3.0,2.0,3.0,0.0]|
|       0.0|  0.0| [7.0,2.0,3.0,0.0]|
|       0.0|  0.0| [0.0,2.0,3.0,1.0]|
|       0.0|  0.0| [2.0,2.0,3.0,1.0]|
|       0.0|  0.0| [6.0,2.0,3.0,1.0]|
|       0.0|  0.0| [6.0,2.0,3.0,1.0]|
|       0.0|  0.0| [3.0,2.0,3.0,1.0]|
|       0.0|  0.0|[12.0,2.0,3.0,1.0]|
|       0.0|  0.0| [7.0,2.0,3.0,1.0]|
|       0.0|  0.0| [7.0,2.0,3.0,1.0]|
|       2.0|  2.0| [0.0,2.0,1.0,0.0]|
|       2.0|  2.0| [0.0,2.0,1.0,0.0]|
|       2.0|  2.0| [0.0,2.0,1.0,0.0]|
+----------+-----+------------------+
only showing top 25 rows

In [ ]:
evaluator = MulticlassClassificationEvaluator(
    labelCol="label", predictionCol="prediction", metricName="accuracy")
accuracy = evaluator.evaluate(predictDF)
print(accuracy)

0.7916018662519441

In [ ]:
treeModel = pipelineModel.stages[-1]
# summary only
print(treeModel.toDebugString)

DecisionTreeClassificationModel: uid=DecisionTreeClassifier_7b5125419904, depth=5, numNodes=27, numClasses=3, numFeatures=4
  If (feature 1 in {0.0,1.0})
   If (feature 0 in {20.0,22.0,23.0,25.0,27.0,28.0,29.0,30.0})
    Predict: 0.0
   Else (feature 0 not in {20.0,22.0,23.0,25.0,27.0,28.0,29.0,30.0})
    If (feature 2 in {3.0,4.0,5.0})
     If (feature 0 in {1.0,2.0,3.0,6.0,8.0,9.0,10.0,11.0,12.0,13.0,14.0,15.0,17.0,18.0,19.0,21.0,24.0,26.0})
      Predict: 0.0
     Else (feature 0 not in {1.0,2.0,3.0,6.0,8.0,9.0,10.0,11.0,12.0,13.0,14.0,15.0,17.0,18.0,19.0,21.0,24.0,26.0})
      If (feature 0 in {5.0,16.0})
       Predict: 2.0
      Else (feature 0 not in {5.0,16.0})
       Predict: 0.0
    Else (feature 2 not in {3.0,4.0,5.0})
     If (feature 2 in {0.0})
      If (feature 0 in {0.0,1.0,2.0,3.0,4.0,7.0,14.0,15.0,16.0,17.0,21.0,24.0,26.0})
       Predict: 1.0
      Else (feature 0 not in {0.0,1.0,2.0,3.0,4.0,7.0,14.0,15.0,16.0,17.0,21.0,24.0,26.0})
       Predict: 2.0
     Else (feature 2 not in {0.0})
      If (feature 1 in {1.0})
       Predict: 0.0
      Else (feature 1 not in {1.0})
       Predict: 2.0
  Else (feature 1 not in {0.0,1.0})
   If (feature 0 in {5.0,6.0,8.0,9.0,10.0,11.0,12.0,13.0,14.0,15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0,30.0})
    Predict: 0.0
   Else (feature 0 not in {5.0,6.0,8.0,9.0,10.0,11.0,12.0,13.0,14.0,15.0,16.0,17.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0,30.0})
    If (feature 1 in {2.0})
     If (feature 3 in {0.0})
      If (feature 2 in {2.0,3.0,4.0,5.0})
       Predict: 0.0
      Else (feature 2 not in {2.0,3.0,4.0,5.0})
       Predict: 2.0
     Else (feature 3 not in {0.0})
      If (feature 0 in {0.0,2.0,3.0,4.0,7.0,18.0})
       Predict: 0.0
      Else (feature 0 not in {0.0,2.0,3.0,4.0,7.0,18.0})
       Predict: 2.0
    Else (feature 1 not in {2.0})
     Predict: 0.0

Getting input from the user to run through the decision tree </br>
**has not been updated to reflect zip code rather than borough**

In [ ]:
#Creating the insturction messages
boro_instructions = " 1. Bronx \n 2. Brooklyn \n 3. Manhattan \n 4. Staten Island \n 5. Queens \n Please enter the number of the borough from the list shown above: "
age_instructions = " 1. Under 18 \n 2. 18-24 \n 3. 25-45 \n 4. 45-64 \n 5. 65 or older \n Please enter the age group that you are in from the above options:  "
race_instructions = " 1. American Indian/Alaskan Native \n 2. Asian/Pacific Islander \n 3. Black \n 4. Black Hispanic \n 5. White \n 6. White Hispanic \n Please select the number corresponding to your race: "
gender_options = " 1. Female \n 2. Male \n Please enter the number corresponding to your gender: "

#getting userinput and storing it
print("Welcome to the risk predictor tool.")
print("")
boro_input = int(input(boro_instructions))
print("")
age_input = int(input(age_instructions))
print("")
race_input = int(input(race_instructions))
print("")
gender_input = int(input(gender_options))
print("")

#Converting boro user input into value that the decision tree is looking for
if boro_input == 1:
    boro_df = 'BRONX'
    boro_df_print = 'Bronx'
elif boro_input == 2:
    boro_df_print = 'BROOKLYN'
    boro_df_print = 'Brooklyn'
elif boro_input == 3:
    boro_df = 'MANHATTAN'
    boro_df_print = 'Manhattan'
elif boro_input == 4:
    boro_df = 'QUEENS'
    boro_df_print = 'Queens'
elif boro_input == 5:
    boro_df = 'STATEN ISLAND'
    boro_df_print = 'Staten Island'

#Converting age user input into value that the decision tree is looking for
if age_input == 1:
    age_df = '<18'
elif age_input == 2:
    age_df = '18-24'
elif age_input == 3:
    age_df = '25-44'
elif age_input == 4:
    age_df = '45-64'
elif age_input == 5:
    age_df = '65+'
    
#Converting race user input into value that the decision tree is looking for
if race_input == 1:
    race_df = 'AMERICAN INDIAN/ALASKAN NATIVE'
elif race_input == 2:
    race_df = 'ASIAN / PACIFIC ISLANDER'
elif race_input == 3:
    race_df = 'BLACK'
elif race_input == 4:
    race_df = 'BLACK HISPANIC'
elif race_input == 5:
    race_df = 'WHITE'
elif race_input == 6:
    race_df = 'WHITE HISPANIC'

#Converting boro user input into value that the decision tree is looking for
if gender_input == 1:
    gender_df = 'F'
elif gender_input == 2:
    gender_df = 'M'

riskLevel_df = 'Low'

#Creating a dataframe out of the inputs
df_PredictionInputs = pd.DataFrame(columns=["BORO_NM", "VIC_AGE_GROUP", "VIC_RACE", "VIC_SEX", "RiskLevel"])
df1_Inputs = pd.DataFrame(data=[[boro_df,age_df,race_df, gender_df, riskLevel_df]],columns=["BORO_NM", "VIC_AGE_GROUP", "VIC_RACE", "VIC_SEX", "RiskLevel"])
df_PredictionInputs = pd.concat([df_PredictionInputs,df1_Inputs], axis=0)

#Converting pandas dataframe to Spark dataframe to feed into the Decision Tree model
CrimesPredictDF = spark.createDataFrame(df_PredictionInputs) 

#Bringing the dataframe with the inputs into the pipeline and putting in to the model
#CrimesPredictDF.show()

# Apply the pipeline model to the test dataset.
predictDF = pipelineModel.transform(CrimesPredictDF)
 
#Display the pipeline
#predictDF.select("prediction").show()

#Storing the prediction value
pandasDF_predictResult = predictDF.toPandas()
PredictionValue = pandasDF_predictResult['prediction'].values[0]
#print(PredictionValue)

#Assigning prediction value to risk level
if PredictionValue == 0.0:
    PredictionLabel = 'Low'
elif PredictionValue == 1.0:
    PredictionLabel = 'Medium'
elif PredictionValue == 2.0:
    PredictionLabel = 'High'


#
print("")
print ("Your risk level in the borough " + boro_df_print + " is " + PredictionLabel + ".")
#Clear Inputs to rerun program
df_PredictionInputs = df_PredictionInputs.drop(["BORO_NM", "VIC_AGE_GROUP", "VIC_RACE", "VIC_SEX"], axis=1)

Welcome to the risk predictor tool.

 1. Bronx
 2. Brooklyn
 3. Manhattan
 4. Staten Island
 5. Queens
 Please enter the number of the borough from the list shown above: 1

 1. Under 18
 2. 18-24
 3. 25-45
 4. 45-64
 5. 65 or older
 Please enter the age group that you are in from the above options:  3

 1. American Indian/Alaskan Native
 2. Asian/Pacific Islander
 3. Black
 4. Black Hispanic
 5. White
 6. White Hispanic
 Please select the number corresponding to your race: 3

 1. Female
 2. Male
 Please enter the number corresponding to your gender: 2


Your risk level in the borough Bronx is High.

Sources:
- https://stackoverflow.com/questions/16249736/how-to-import-data-from-mongodb-to-pandas 

- https://stackoverflow.com/questions/29791785/python-pandas-add-a-column-to-my-dataframe-that-counts-a-variable

- https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html

- https://towardsdatascience.com/building-an-ml-application-with-mllib-in-pyspark-part-1-ac13f01606e2

- https://neptune.ai/blog/apache-spark-tutorial/amp

- https://www.dataquest.io/blog/tutorial-add-column-pandas-dataframe-based-on-if-else-condition/

- https://spark.apache.org/docs/1.5.2/ml-decision-tree.html